<%= form_for(@link, remote: true) do |f| %>
  <% if @link.errors.any? %>
  <div class="mdl-card__actions mdl-card--border">
    <div id="error_explanation">
      <h3><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h3>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

    <div class="mdl-card__title mdl-card--expand">
      <h4><%= f.text_field :given_url, :class => "mdl-textfield mdl-js-textfield", :placeholder => "Paste a link to shorten" %></h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= f.submit 'Shorten Me', :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"%>
    </div>
<% end %>
